.service {
  background: #113248;
  color: aliceblue;
}
.section-header {
  text-align: left;
}
.section-header h1 {
  font-weight: 700;
  font-size: 85px;
}
.section-header p {
  letter-spacing: 10px;
}
.section-info {
  width: 70%;
  margin: 0 auto;
}
.card {
  color: #113248;
}
.card-footer {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0) !important;
  border-top: none !important;
  padding: 2rem 1rem !important;
}
