.navbar {
  background-color: goldenrod;
  background-image: linear-gradient(to right, yellow, #113248);
}
.nav-link {
  color: #fff !important;
  font-size: 18px;
  font-weight: 500;
}
.top-nav {
  display: flex;
  justify-content: space-around;
  background-color: #113248;
  color: #ffcb12;
}
.top-right {
  display: flex;
}
.top-left {
  display: flex;
  text-decoration: none;
}
.top-left a {
  text-decoration: none;
  color: #ffcb12;
  margin-right: 10px;
}
/* Responsive */
@media only screen and (max-width: 768px) {
  .top-nav {
    background-color: #113248;
    color: #ffcb12;
  }
  .top-right {
    display: flex;
    flex-direction: column;
  }
  .top-right p {
    margin-top: 10px;
  }
  .top-left {
    display: none;
    text-decoration: none;
  }
}
