.work-process {
  padding: 40px 0;
}
.work-step h5 {
  margin: 0 auto;
  line-height: 50px;
  width: 60px;
  border-radius: 51%;
  border: 1px solid gold;
}
.first-step,
.third-step {
  padding: 200px 0px;
}

.second-step {
  padding: 200px 0px;
  background-color: #ffc011;
}
