body {
  background: #f2f2f2;
}
.banner-section {
  background: #f2f2f2;
  padding: 60px 0;
}
.banner {
  background: #fff;

  border-radius: 5px;
}
.banner-btn {
  justify-content: space-between;
}

