.quation-section {
  background: #113248;
  padding: 40px 0;
  color: #fff;
}
.quation-section h6 {
  letter-spacing: 10px;
}
.quato-form input {
  width: 420px;
  padding: 20px;
  margin-right: 12px;
}
.quato-form input:last-child {
  margin-right: 0px !important;
}
.quato-form textarea {
  width: 100%;
  padding: 30px;
  height: 200px;
}
.submit-btn {
  width: 300px !important;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  border: 2px solid gold;
}
@media screen and (max-width: 360px) {
  .quato-form input {
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
  }
}
